.navbar {
    background: #FFF;
    color: #071952;
    margin: 0;
    padding: 10px 150px 10px 150px;
    display: flex;
}

.navbar-brand {
    margin: 0px 20px;
    display: inline;
}

.navbar-logo {
    height: 32px;
    display: inline;
}

.navbar-text {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
    text-align: right;
    display: inline;
}

.navbar-item {
    display: inline;
}

.blog-entry {
    border: 5px solid #37B7C3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}

.footer {
    background: #FFF;
    padding: 30px 150px 30px 150px;
    
}

body {
    margin: 0;
    background: #EBF4F6;
    font-family: "Montserrat", sans-serif;
}